/* =============================================================// X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
	.navbar-toggler {
		border: none;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.banner_right {
		width: 275px;
		height: 256px;
		margin-left: auto;
	}

	.banner_feature {
		transform: scale(0.7);
		top: 12%;
	}

	.banner_left h1 {
		font-size: 28px;
		line-height: 36px;
		margin-top: 24px;
	}

	.banner_left p {
		font-size: 13px;
		line-height: 24px;
		padding-right: 0;
	}

	.banner_button {
		margin-top: 26px;
		display: flex;
		column-gap: 16px;
		justify-content: center;
	}

	.number_users {
		justify-content: center;
	}

	.number_users strong {
		font-size: 36px;
	}

	/* ====================== Feature start=========================== */
	#podcast{
		padding-top: 40px;
		margin-top: 24px;
	}
	.podcast-header h4 {	
		font-size: 26px;
		line-height: 36px;
	}
	.podcast-header p {	
		padding: 0;
	}
	.podcast-item{
		margin-top: 30px;
	}
	.podcast-item-body p{
		padding: 0 34px;
	}


	/* ====================== Make Us start=========================== */
	.make_us_left h4 {
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
	}

	.make_us_left p {
		padding-right: 0;
		text-align: center;
	}

	.make_us_list-service {
		display: flex;
		justify-content: center;
	}

	.make_us_left_button {
		text-align: center;
	}

	/* ====================== Plan start =========================== */
	#plan {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.plan_header h4 {
		font-size: 25px;
		line-height: 36px;
	}

	.plan_header p {
		margin-top: 16px;
		font-size: 13px;
		margin: 0 0;
	}

	.plan_button {
		margin-top: 24px;
	}

	.plan_service_parent {
		margin-top: 32px;
	}

	.plan_service {
		margin-bottom: 24px;
	}

	/* ====================== Testimonial start =========================== */
	#testimonial {
		padding-bottom: 80px;
	}

	.testimonial_header h4 {
		font-size: 28px;
		line-height: 36px;
		text-align: center;
	}

	.quotation::after {
		width: 253px;
	}

	.testimonial_items {
		margin-bottom: 24px;
	}

	.testimonial_items p {
		font-size: 13px;
	}

	/* ====================== footer start =========================== */
	#footer {
		padding-top: 83px;
		padding-bottom: 32px;
	}

	.footer_left p {
		font-size: 13px;
	}

	.footer_lists {
		margin-top: 32px;
	}

	.copy_right {
		margin-top: 40px;
	}

	/* ====================== Popular Part Start =========================== */
	#popular {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.popular-header h4 {
		font-size: 28px;
		line-height: 36px;
	}

	.popular-header p {
		padding: 0;
	}

	.popular-tab-button {
		margin-bottom: 20px;
	}

	.left button {
		width: 141px;
	}

	.right button {
		width: 131px;
	}

	.popular-tab-button .left button {
		padding: 16px 31px;
	}

	.popular-tab-button .left button,
	.popular-tab-button .right button {
		margin-bottom: 16px;
	}

	/* ====================== Popular Part End =========================== */

}

/* =============================================================// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
	.navbar-toggler {
		border: none;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	#banner {
		padding-top: 2px;
	}

	.banner_right {
		height: 256px;
	}

	.banner_feature {
		transform: scale(0.7);
		top: 12%;
	}

	.banner_left h1 {
		font-size: 28px;
		line-height: 36px;
		margin-top: 24px;
	}

	.banner_left p {
		font-size: 13px;
		line-height: 24px;
		padding-right: 0;
	}

	.banner_button {
		margin-top: 26px;
		display: flex;
		column-gap: 16px;
		justify-content: center;
	}

	.number_users {
		justify-content: center;
	}

	.number_users strong {
		font-size: 36px;
	}
	/* ====================== Feature start=========================== */
	#podcast{
		padding-top: 40px;
		margin-top: 24px;
	}
	.podcast-header h4 {	
		font-size: 26px;
		line-height: 36px;
	}
	.podcast-header p {	
		padding: 0;
	}
	.podcast-item{
		margin-top: 30px;
	}
	.podcast-item-body p{
		padding: 0 34px;
	}

	/* ====================================== Make Us start=========================== */
	.make_us_left h4 {
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
	}

	.make_us_left p {
		padding-right: 0;
		text-align: center;
	}

	.make_us_list-service {
		display: flex;
		justify-content: center;
	}

	.make_us_left_button {
		text-align: center;
	}

	/* ====================== Plan start=========================== */
	#plan {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.plan_header h4 {
		font-size: 25px;
		line-height: 36px;
	}

	.plan_header p {
		margin-top: 16px;
		font-size: 13px;
		margin: 0 0;
	}

	.plan_button {
		margin-top: 24px;
	}

	.plan_service_parent {
		margin-top: 32px;
	}

	.plan_service {
		margin-bottom: 24px;
	}

	/* ====================== Testimonial start =========================== */
	#testimonial {
		padding-bottom: 80px;
	}

	.testimonial_header h4 {
		font-size: 41px;
		line-height: 53px;
	}

	.quotation::after {
		width: 432px;
	}

	.testimonial_items {
		margin-bottom: 24px;
	}

	.testimonial_items p {
		font-size: 16px;
	}

	/* ====================== Footer start=========================== */

	#footer {
		padding-top: 83px;
		padding-bottom: 32px;
	}

	.footer_left p {
		font-size: 14px;
	}

	.footer_lists {
		margin-top: 32px;
	}

	.copy_right {
		margin-top: 40px;
	}

	/* ====================== Popular Part Start =========================== */
	#popular {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.popular-header h4 {
		font-size: 28px;
		line-height: 36px;
	}

	.popular-header p {
		padding: 0;
	}

	.popular-tab-button {
		margin-bottom: 20px;
		flex-wrap: wrap;
		row-gap: 16px;
	}

	.left button {
		width: 141px;
	}

	.right button {
		width: 131px;
	}

	.popular-tab-button .left button {
		padding: 16px 31px;
	}

	.popular-tab-button .left button,
	.popular-tab-button .right button {
		margin-bottom: 16px;
	}

	/* ====================== Popular Part End =========================== */

}

/* ============================================================// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-toggler {
		border: none;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	#banner {
		padding-top: 12px;
	}

	.banner_right {
		position: relative;
		height: 440px;
		width: 626px;
		margin-left: auto;
	}

	.banner_feature {
		transform: scale(0.8);
		top: 40%;
	}

	.banner_left h1 {
		font-size: 50px;
		line-height: 60px;
		margin-top: 26px;
	}

	.banner_left p {
		font-size: 20px;
		line-height: 26px;
		padding-right: 0;
	}

	.banner_button {
		margin-top: 26px;
		display: flex;
		column-gap: 16px;
		justify-content: center;
	}

	.number_users {
		justify-content: center;
	}

	.number_users strong {
		font-size: 36px;
	}
	/* ====================== Feature start=========================== */
	#podcast{
		padding-top: 40px;
		margin-top: 24px;
	}
	.podcast-header h4 {	
		font-size: 26px;
		line-height: 36px;
	}
	.podcast-header p {	
		padding: 0;
	}
	.podcast-item{
		margin-top: 30px;
	}
	.podcast-item-body p{
		padding: 0 34px;
	}
	
	/* ====================================== Make Us start============= 576px an up ============== */
	.make_us_left h4 {
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
	}

	.make_us_left p {
		padding-left: 130px;
		text-align: center;
	}

	.make_us_list-service {
		display: flex;
		justify-content: center;
	}

	.make_us_left_button {
		text-align: center;
	}

	/* ====================== Plan start============= >=575px ============== */
	#plan {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.plan_header h4 {
		font-size: 25px;
		line-height: 36px;
	}

	.plan_header p {
		margin-top: 16px;
		font-size: 13px;
		margin: 0 0;
	}

	.plan_button {
		margin-top: 24px;
	}

	.plan_service_parent {
		margin-top: 32px;
	}

	.plan_service {
		margin-bottom: 24px;
	}

	/* ====================== Testimonial start=========================== */
	#testimonial {
		padding-bottom: 80px;
	}

	.testimonial_header h4 {
		font-size: 55px;
		line-height: 60px;
		text-align: center;
	}

	.quotation::after {
		width: 599px;
	}

	.testimonial_items {
		margin-bottom: 24px;
	}

	.testimonial_items p {
		font-size: 19px;
	}

	/* ====================== Footer start=========================== */

	#footer {
		padding-top: 70px;
		padding-bottom: 50px;
	}

	.footer_lists {
		margin-top: 32px;
	}

	<<<<<<< HEAD .footer_left p {
		font-size: 19px;
	}

	=======

	/* ====================== Popular Part Start =========================== */
	#popular {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.popular-header h4 {
		font-size: 40px;
		line-height: 36px;
	}

	.popular-tab-button {
		margin-bottom: 20px;
		flex-wrap: wrap;
		row-gap: 16px;
	}

	/* ====================== Popular Part End =========================== */

	>>>>>>>nazmul-dev
}

/* ============================================================// large devices (tablets, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
	.banner_left h1 {
		font-size: 47px;
		line-height: 68px;
	}

	.banner_left p {
		padding-right: 84px;
	}

	#testimonial {
		padding-bottom: 95px;
	}

	.testimonial_header h4 {
		font-size: 28px;
		line-height: 36px;
	}

	.quotation::after {
		width: 213px;
	}

	.testimonial_items p {
		font-size: 15px;
	}

	.reviews .r-details h6 {
		font-size: 15px;
	}

	.reviews .r-details span {
		font-size: 14px;
	}

	.plan_service h4 {
		font-size: 31px;
	}

	.footer_left p {
		font-size: 14px;
		line-height: 24px;
	}

	.footer_lists ul li {
		font-size: 13px;
	}

	/* ====================== Feature start=========================== */
	#podcast{
		padding-top: 40px;
		margin-top: 24px;
	}
	.podcast-header h4 {	
		font-size: 26px;
		line-height: 36px;
	}
	.podcast-header p {	
		padding: 0;
	}
	.podcast-item{
		margin-top: 30px;
	}
	.podcast-item-body p{
		padding: 0 34px;
	}

	/* ====================== Popular Part Start =========================== */
	#popular {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.popular-header h4 {
		font-size: 42px;
	}

	/* ====================== Popular Part End =========================== */
}