/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 575px) { 
    .navbar-toggler {
        border: none
 }

 .navbar-toggler:focus {
	box-shadow: none;
}

.banner_right {
    width: 275px;
	height: 256px;
    margin-left: auto;
}

.banner_feature {
    transform: scale(0.7);
	top: 12%;
}
.banner_left h1 {
	font-size: 28px;
	line-height: 36px;
    margin-top: 24px;
	
}

.banner_left p {
	font-size: 13px;
	line-height: 24px;
    padding-right: 0;
	
}

.banner_button {
	margin-top: 26px;
	display: flex;
	column-gap: 16px;
	justify-content: center;
}

.number_users {
	justify-content: center;
}
.number_users strong {
	font-size: 36px;

}
/* ====================== Make Us start============= >=575px ============== */
.make_us_left h4 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}
.make_us_left p {
    padding-right: 0;
    text-align: center;
}
.make_us_list-service{
	display: flex;
	justify-content: center;
}
.make_us_left_button{
	text-align: center;
}
/* ====================== Plan start============= >=575px ============== */
#plan {
    padding-top: 48px;
    padding-bottom: 48px;
}

.plan_header h4 {
    font-size: 25px;
    line-height: 36px;
}
.plan_header p {
	margin-top: 16px;
    font-size: 13px;
    margin: 0 0;
}
.plan_button {
    margin-top: 24px;
}
.plan_service_parent {
    margin-top: 32px;
}
.plan_service{
	margin-bottom: 24px;
}
}



/* =============================================================// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-toggler {
        border: none
 }

 .navbar-toggler:focus {
	box-shadow: none;
}

#banner {
	padding-top: 2px;
}

.banner_right {
	height: 256px;

}

.banner_feature {
    transform: scale(0.7);
	top: 12%;
}
.banner_left h1 {
	font-size: 28px;
	line-height: 36px;
    margin-top: 24px;
	
}

.banner_left p {
	font-size: 13px;
	line-height: 24px;
    padding-right: 0;
	
}

.banner_button {
	margin-top: 26px;
	display: flex;
	column-gap: 16px;
	justify-content: center;
}

.number_users {
	justify-content: center;
}
.number_users strong {
	font-size: 36px;

}
/* ====================================== Make Us start============= 576px and up ============== */
.make_us_left h4 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}
.make_us_left p {
	padding-right: 0;
    text-align: center;
}
.make_us_list-service{
	display: flex;
	justify-content: center;
}
.make_us_left_button{
	text-align: center;
}
/* ====================== Plan start============= >=575px ============== */
#plan {
    padding-top: 48px;
    padding-bottom: 48px;
}

.plan_header h4 {
    font-size: 25px;
    line-height: 36px;
}
.plan_header p {
	margin-top: 16px;
    font-size: 13px;
    margin: 0 0;
}
.plan_button {
    margin-top: 24px;
}
.plan_service_parent {
    margin-top: 32px;
}
.plan_service{
	margin-bottom: 24px;
}
}





/* ============================================================// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .navbar-toggler {
        border: none
 }

 .navbar-toggler:focus {
	box-shadow: none;
}

#banner {
	padding-top: 12px;
}

.banner_right {
	position: relative;
	height: 440px;
	width: 626px;
	margin-left: auto;
}

.banner_feature {
	transform: scale(0.8);
	top: 40%;
}

.banner_left h1{
    font-size: 50px;
    line-height: 60px;
    margin-top: 26px;
}


.banner_left p {
	font-size: 20px;
	line-height: 26px;
	padding-right: 0;
}

.banner_button {
	margin-top: 26px;
	display: flex;
	column-gap: 16px;
	justify-content: center;
}

.number_users {
	justify-content: center;
}
.number_users strong {
	font-size: 36px;

}
/* ====================================== Make Us start============= 576px an up ============== */
.make_us_left h4 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}
.make_us_left p {
	padding-left: 130px;
    text-align: center;
}
.make_us_list-service{
	display: flex;
	justify-content: center;
}
.make_us_left_button{
	text-align: center;
}
/* ====================== Plan start============= >=575px ============== */
#plan {
    padding-top: 48px;
    padding-bottom: 48px;
}

.plan_header h4 {
    font-size: 25px;
    line-height: 36px;
}
.plan_header p {
	margin-top: 16px;
    font-size: 13px;
    margin: 0 0;
}
.plan_button {
    margin-top: 24px;
}
.plan_service_parent {
    margin-top: 32px;
}
.plan_service{
	margin-bottom: 24px;
}
}